# compiled files:
*.o
*.so
*.a
# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*
# tex files:
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.toc
*.snm
*.vrb
*.bbl
# eclipse files:
*.cproject
*.project
# misc:
.DS_Store
Trash
# doconce:
.*_html_file_collection

*.exe
